<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <title>天佑艺术馆</title>
    <link rel="stylesheet" type="text/css" href="{$admin_themes}/css/fbUi.css">
    <link rel="stylesheet" type="text/css" href="{$admin_themes}/css/other.css">
    <link rel="stylesheet" type="text/css" href="{$admin_themes}/css/css.css">
    <script type="text/javascript" src="{$admin_themes}/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{$admin_themes}/js/fbUi.js"></script>
    <script type="text/javascript" src="{$admin_themes}/js/main.js"></script>
    {insert_scripts files="../js/jquery.json.js"}
    {insert_scripts files="../js/transport_jquery.js,common.js,respond.src.js"}
    <style>
        .error-title{text-align: center;font-size: 18px;line-height: 48px;color: #f1c362;padding: 20px 0}
        .error-con{text-align: center;font-size: 16px;line-height: 48px;color: #d24747;padding: 100px 0 0 0}
        .auto-redirect{text-align: center;font-size: 16px;line-height: 48px;color: #d24747;margin: 20px 0 0 0}
        .error-button {margin:20px auto;display: block;width: auto;}
    </style>
</head>

<body>
<!--头部-->
<div class="outArea head">
       <div class="inArea">
            <a href="index.php" class="logo"><img src="{$admin_themes}/images/logo.png" alt=""></a>

       </div>
</div>

    <div class='outArea addAuthor martop-62'>
        <!-- 主体内容 S -->
        <div class="content">
            <div class="con-list w1320 ">
                <div class="padd120">
                    <div class="error-con">{$msg_detail}</div>
                    {if $auto_redirect}<div class="auto-redirect">{$lang.auto_redirection}</div>{/if}
                    {foreach from=$links item=link}
                    <button  class="error-button fb-buttonSize-medium fb-buttonFill-warning" onclick="javascript:window.location.href='{$link.href}'">{$link.text}</button>
                    {/foreach}

                </div>
            </div>
        </div>
        <!-- 主体内容 E -->
    </div>
    {if $auto_redirect}
<script language="JavaScript">
<!--
var seconds = 3;
var defaultUrl = "{$default_url}";

{literal}
onload = function()
{
  if (defaultUrl == 'javascript:history.go(-1)' && window.history.length == 0)
  {
    document.getElementById('redirectionMsg').innerHTML = '';
    return;
  }

  window.setInterval(redirection, 1000);
}
function redirection()
{
  if (seconds <= 0)
  {
    window.clearInterval();
    return;
  }

  seconds --;
  document.getElementById('spanSeconds').innerHTML = seconds;

  if (seconds == 0)
  {
    window.clearInterval();
    location.href = defaultUrl;
  }
}
//-->
</script>
{/literal}
{/if}
</body>
</html>
