<div><a href="article.php?act=add&cat_id=13" {if $act=='add' && $cat_id==13}class="aTitle-hover"{/if}>发布活动资讯</a></div>
<div><a href="article.php?act=list&cat_id=13"   {if ($act=='list' ||  $act=='edit') && $cat_id==13}class="aTitle-hover"{/if}>编辑活动资讯</a></div>
<div><a href="article.php?act=add&cat_id=14" {if $act=='add' && $cat_id==14}class="aTitle-hover"{/if}>发布陈设案例</a></div>
<div><a href="article.php?act=list&cat_id=14" {if ($act=='list' ||  $act=='edit')  && $cat_id==14}class="aTitle-hover"{/if}>编辑陈设案例</a></div>
<div><a href="article.php?act=add&cat_id=15" {if $act=='add' && $cat_id==15}class="aTitle-hover"{/if}>发布展览服务</a></div>
<div><a href="article.php?act=list&cat_id=15" {if ($act=='list' ||  $act=='edit')  && $cat_id==15}class="aTitle-hover"{/if}>编辑展览服务</a></div>
