<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="default"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <title>天佑艺术馆</title>
    <link rel="stylesheet" type="text/css" href="{$admin_themes}/css/fbUi.css">
    <link rel="stylesheet" type="text/css" href="{$admin_themes}/css/other.css">
    <link rel="stylesheet" type="text/css" href="{$admin_themes}/css/css.css">
    <script type="text/javascript" src="{$admin_themes}/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{$admin_themes}/js/fbUi.js"></script>
    <script type="text/javascript" src="{$admin_themes}/js/main.js"></script>
    {insert_scripts files="../js/jquery.json.js"}
    {insert_scripts files="../js/transport_jquery.js,common.js,respond.src.js"}
</head>
<body>
<!--头部-->
<div class="outArea head">
       <div class="inArea">
            <a href="index.php" class="logo"><img src="{$admin_themes}/images/logo.png" alt=""></a>
            <div class="login">
                <span style="background: transparent url('{$admin_themes}/images/icon1.png') no-repeat 10px center;">本人本人</span>
                <a href="privilege.php?act=logout">退出</a>
            </div>
       </div>
</div>

<!--头部 end-->
   <!--内容-->
   <div class="outArea contentAr1 martop-62 ">
       <div class="inArea content1">
           <ul>
               <li class="fb-inlineBlock fb-transition">
                    <a href="goods.php?act=list">
                        <img src="{$admin_themes}/images/click_icon_03.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="author.php?act=list">
                        <img src="{$admin_themes}/images/click_icon_05.png" alt="">
                    </a>
               </li>
<!--                 <li class="fb-inlineBlock fb-transition">
                    <a  href="#">
                        <img src="{$admin_themes}/images/click_icon_07.png" alt="">
                    </a>
               </li> -->
                <li class="fb-inlineBlock fb-transition">
                    <a  href="article.php?act=list&cat_id=13">
                        <img src="{$admin_themes}/images/click_icon_09.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="banner.php?act=list">
                        <img src="{$admin_themes}/images/click_icon_11.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="statistics.php">
                        <img src="{$admin_themes}/images/click_icon_18.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="setting.php?act=qq_list">
                        <img src="{$admin_themes}/images/click_icon_19.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="order.php?act=list">
                        <img src="{$admin_themes}/images/click_icon_21.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="order.php?act=list_back">
                        <img src="{$admin_themes}/images/click_icon_23.png" alt="">
                    </a>
               </li>

           </ul>
       </div>
   </div>
   <!--内容 end-->

</body>
</html>
