
{include file="tianyou/head.htm"}
<!--头部 end-->
   <!--内容-->
   <div class="outArea contentAr1 martop-62 ">
       <div class="inArea content1">
           <ul>
               <li class="fb-inlineBlock fb-transition">
                    <a href="goods.php?act=list">
                        <img src="{$admin_themes}/images/click_icon_03.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="author.php?act=list">
                        <img src="{$admin_themes}/images/click_icon_05.png" alt="">
                    </a>
               </li>
<!--                 <li class="fb-inlineBlock fb-transition">
                    <a  href="#">
                        <img src="{$admin_themes}/images/click_icon_07.png" alt="">
                    </a>
               </li> -->
                <li class="fb-inlineBlock fb-transition">
                    <a  href="article.php?act=list&cat_id=13">
                        <img src="{$admin_themes}/images/click_icon_09.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="banner.php?act=list">
                        <img src="{$admin_themes}/images/click_icon_11.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="#">
                        <img src="{$admin_themes}/images/click_icon_18.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="#">
                        <img src="{$admin_themes}/images/click_icon_19.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="order.php?act=list">
                        <img src="{$admin_themes}/images/click_icon_21.png" alt="">
                    </a>
               </li>
                <li class="fb-inlineBlock fb-transition">
                    <a  href="#">
                        <img src="{$admin_themes}/images/click_icon_23.png" alt="">
                    </a>
               </li>

           </ul>
       </div>
   </div>
   <!--内容 end-->

</body>
</html>
