{include file="tianyou/head.htm"}
    <script type="text/javascript" src="{$admin_themes}/js/echart/echarts.common.min.js"></script>
    <script>
    get_cat_seller_data = function(val,is_date = 0){
        $.ajax({
            type: "POST",
            url:'statistics.php?act=get_cat_seller_data',
            data:{'ajax':1,'val':val,'is_date':is_date},
            async:false,
            error: function(request) {
                alert("连接错误");
                return false;
            },
            success: function(data) {
                obj = JSON.parse(data);
            }
        });
        return obj;
    }
    </script>
    <!--内容-->
    <div class='outArea addAuthor martop-62'>
        <div class="inArea fb-clearfix">
            <!--发布艺术品 left-->
            <div class='fb-float-left leftDiv'>
                {include file="tianyou/statistics_nav.htm"}
            </div>
            <!--发布艺术品 left end-->
            <!--内容 right-->
            <div class=' rightDiv'>
                <div class='artdata-kindBox'>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>艺术品</p>
                        <dd>
                            {$goods_count}
                        </dd>
                    </div>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>被收藏数</p>
                        <dd>
                            {$collect_goods_count}
                        </dd>
                    </div>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>已售数</p>
                        <dd>
                            {$buy_count}
                        </dd>
                    </div>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>已租数</p>
                        <dd>
                            {$rent_count}
                        </dd>
                    </div>
                </div>
                <div class='chart1'>
                    <div class='date fb-clearfix'>
                        <a class="active" onclick="chartChange(7,this)">7天</a>
                        <a onclick="chartChange(14,this)">14天</a>
                        <a onclick="chartChange(30,this)">30天</a>
                        <a class='win-200-w'>
                            <input type="text" id="data" placeholder="自选日期"  style="width:100%;height:40px;;border:none;display:block;background:none;">
                        </a>
                    </div>
                    <div id="main_chart1" class='main-chart1'>
                    </div>
                    <script>
                    var main_chart1 = echarts.init(document.getElementById('main_chart1'));
                    var art_data = get_cat_seller_data(7);
                    var cat_sellers = art_data.cat_sellers;
                    var cat_names = art_data.cat_names;
                    // app.title = '坐标轴刻度与标签对齐';
                    option = {
                        color: ['#3398DB'],
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: { // 坐标轴指示器，坐标轴触发有效
                                type: 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                            }
                        },
                        title: {
                            show: true,
                            text: '盈收（个数）',
                            left: 40,
                            top: 20,
                            textStyle: {
                                color: '#333333',
                                fontSize: 14,
                                fontWeight: 'normal'
                            }
                        },
                        legend: {
                            show: true,
                            data: [{
                                name: '系列1',
                                // 强制设置图形为圆。
                                icon: 'circle'
                                    // 设置文本为红色
                            }]

                        },
                        xAxis: [{
                            type: 'category',
                            data: cat_names,
                            axisTick: {
                                alignWithLabel: true
                            }

                        }],
                        yAxis: [{
                            type: 'value'
                        }],
                        series: [{
                            name: '盈收（个数）',
                            type: 'bar',
                            itemStyle: {
                                normal: {
                                    color: function(params) {
                                        // build a color map as your need.
                                        var colorList = [
                                            '#f1c362', '#c03636', '#1fa779', '#d28268', '#93c6ae',
                                            '#63a0a7', '#304553'
                                        ];
                                        return colorList[params.dataIndex]
                                    },
                                    label: {
                                        show: true,
                                        position: 'top',
                                        formatter: '{b}\n{c}'
                                    }
                                }
                            },
                            barWidth: '40px',
                            data: cat_sellers,
                            markPoint: {
                                tooltip: {
                                    trigger: 'item',
                                    backgroundColor: 'rgba(0,0,0,0)',
                                    formatter: function(params) {
                                        return '<img src="' + params.data.symbol.replace('image://', '') + '"/>';
                                    }
                                }
                            }
                        }]
                    };
                    main_chart1.setOption(option);
                    </script>
                    <div id="main_chart2" class='main-chart2'>
                        <div class="chart2_box1 fb-inlineBlock">
                            <p>中国书画 <span>占48%</span></p>
                            <div class="cir1" id="cir1"></div>
                        </div>
                        <div class="chart2_box1 fb-inlineBlock">
                            <p>陶瓷 <span>占48%</span></p>
                            <div class="cir1" id="cir2"></div>
                        </div>
                        <div class="chart2_box1 fb-inlineBlock">
                            <p>中国书画 <span>占22%</span></p>
                            <div class="cir1" id="cir3"></div>
                        </div>
                        <div class="chart2_box1 fb-inlineBlock">
                            <p>刺绣 <span>占48%</span></p>
                            <div class="cir1" id="cir4"></div>
                        </div>
                        <div class="chart2_box1 fb-inlineBlock">
                            <p>陶瓷 <span>占48%</span></p>
                            <div class="cir1" id="cir5"></div>
                        </div>
                        <div class="chart2_box1 fb-inlineBlock">
                            <p>中国书画 <span>占48%</span></p>
                            <div class="cir1" id="cir6"></div>
                        </div>
                        <div class="chart2_box1 fb-inlineBlock">
                            <p>中国书画 <span>占48%</span></p>
                            <div class="cir1" id="cir7"></div>
                        </div>
                    </div>
                    <script>
                    var cir1 = echarts.init(document.getElementById('cir1'));

                    option = {

                        series: [{
                            name: '中国书画',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [{
                                value: 335,
                                name: ''
                            }, {
                                value: 310,
                                name: '中国书画'
                            }, ],
                            hoverAnimation: false,

                            label: {
                                normal: {
                                    show: true,
                                    position: 'inside',
                                    formatter: '{d}%',
                                    textStyle: {
                                        fontSize: 12
                                    }
                                },

                            },

                            color: ['#ffffff', '#f1c362'],
                            radius: [0, 50]

                        }]
                    };

                    cir1.setOption(option);

                    //第二个
                    var cir2 = echarts.init(document.getElementById('cir2'));

                    option = {

                        series: [{
                            name: '陶瓷',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [{
                                value: 335,
                                name: ''
                            }, {
                                value: 310,
                                name: '陶瓷'
                            }, ],
                            hoverAnimation: false,

                            label: {
                                normal: {
                                    show: true,
                                    position: 'inside',
                                    formatter: '{d}%',
                                    textStyle: {
                                        fontSize: 12
                                    }
                                },

                            },

                            color: ['#ffffff', '#c03636'],
                            radius: [0, 50]

                        }]
                    };

                    cir2.setOption(option);

                    //第三个
                    var cir3 = echarts.init(document.getElementById('cir3'));

                    option = {

                        series: [{
                            name: '中国书画',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [{
                                value: 335,
                                name: ''
                            }, {
                                value: 310,
                                name: '中国书画'
                            }, ],
                            hoverAnimation: false,

                            label: {
                                normal: {
                                    show: true,
                                    position: 'inside',
                                    formatter: '{d}%',
                                    textStyle: {
                                        fontSize: 12
                                    }
                                },

                            },

                            color: ['#ffffff', '#1fa779'],
                            radius: [0, 50]

                        }]
                    };

                    cir3.setOption(option);

                    //第四个
                    var cir4 = echarts.init(document.getElementById('cir4'));

                    option = {

                        series: [{
                            name: '中国书画',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [{
                                value: 335,
                                name: ''
                            }, {
                                value: 310,
                                name: '中国书画'
                            }, ],
                            hoverAnimation: false,

                            label: {
                                normal: {
                                    show: true,
                                    position: 'inside',
                                    formatter: '{d}%',
                                    textStyle: {
                                        fontSize: 12
                                    }
                                },

                            },

                            color: ['#ffffff', '#d28268'],
                            radius: [0, 50]

                        }]
                    };

                    cir4.setOption(option);
                    //第五个
                    var cir5 = echarts.init(document.getElementById('cir5'));

                    option = {

                        series: [{
                            name: '中国书画',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [{
                                value: 335,
                                name: ''
                            }, {
                                value: 310,
                                name: '中国书画'
                            }, ],
                            hoverAnimation: false,

                            label: {
                                normal: {
                                    show: true,
                                    position: 'inside',
                                    formatter: '{d}%',
                                    textStyle: {
                                        fontSize: 12
                                    }
                                },

                            },

                            color: ['#ffffff', '#93c6ae'],
                            radius: [0, 50]

                        }]
                    };

                    cir5.setOption(option);

                    //第六个
                    var cir6 = echarts.init(document.getElementById('cir6'));

                    option = {

                        series: [{
                            name: '中国书画',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [{
                                value: 335,
                                name: ''
                            }, {
                                value: 310,
                                name: '中国书画'
                            }, ],
                            hoverAnimation: false,

                            label: {
                                normal: {
                                    show: true,
                                    position: 'inside',
                                    formatter: '{d}%',
                                    textStyle: {
                                        fontSize: 12
                                    }
                                },

                            },

                            color: ['#ffffff', '#63a0a7'],
                            radius: [0, 50]

                        }]
                    };

                    cir6.setOption(option);
                    //第四个
                    var cir7 = echarts.init(document.getElementById('cir7'));

                    option = {

                        series: [{
                            name: '中国书画',
                            type: 'pie',
                            radius: '55%',
                            center: ['50%', '60%'],
                            data: [{
                                value: 335,
                                name: ''
                            }, {
                                value: 310,
                                name: '中国书画'
                            }, ],
                            hoverAnimation: true,
                            label: {
                                normal: {
                                    show: true,
                                    position: 'inside',
                                    formatter: '{d}%',
                                    textStyle: {
                                        fontSize: 12
                                    }
                                },

                            },
                            color: ['#ffffff', '#304553'],
                            radius: [0, 50]

                        }]
                    };

                    cir7.setOption(option);
                    </script>
                    <!--图表 end-->
                </div>
                <div class='rank-list'>
                    <p>收藏量艺术品最高排行榜</p>
                    <div class='rank-list-content'>
                        {foreach from=$goodses item=item}
                        <div class='rank-list-items fb-clearfix'>
                            <div class='right fb-float-left'>
                                <img src="/{$item.goods_thumb}" alt="{$item.goods_name}" class="w70">
                                <div class='right_r fb-inlineBlock'>
                                    <h3>{$item.goods_name}</h3>
                                    <dd class='write_name'>{$item.author_name}</dd>
                                    <dd class='classfiy '>{$item.cat_name}</dd>
                                </div>
                            </div>
                            <div class='left fb-float-right'>
                                被收藏数{$item.count}
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>
            </div>
            <!--内容 right end-->
        </div>
    </div>
    <!--内容 end-->
</body>
<script>
var chartChange = function(val, that,is_date = 0) {
    $(that).addClass("active").siblings("a").removeClass("active");
    var art_data = get_cat_seller_data(val,is_date);
    var data = art_data.cat_sellers;

    main_chart1.setOption({
        series: [{
            name: 'value',
            data: data
        }]
    });
    cir1.setOption({
        series: {
            data: [{
                value: 20,
                name: ''
            }, {
                value: 80,
                name: ''
            }, ]
        },
    });
    cir2.setOption({
        series: {
            data: [{
                value: 5,
                name: ''
            }, {
                value: 95,
                name: ''
            }, ]
        },
    });
    cir3.setOption({
        series: {
            data: [{
                value: 20,
                name: ''
            }, {
                value: 80,
                name: '中国书画'
            }, ]
        },
    });
    cir4.setOption({
        series: {
            data: [{
                value: 20,
                name: ''
            }, {
                value: 80,
                name: '中国书画'
            }, ]
        },
    });
    cir5.setOption({
        series: {
            data: [{
                value: 20,
                name: ''
            }, {
                value: 80,
                name: '中国书画'
            }, ]
        },
    });
    cir6.setOption({
        series: {
            data: [{
                value: 20,
                name: ''
            }, {
                value: 80,
                name: '中国书画'
            }, ]
        },
    });


    cir7.setOption({
        series: {
            data: [{
                value: 50,
                name: ''
            }, {
                value: 50,
                name: '中国书画'
            }, ]
        },
    });
}

$fb("#data").showDate({
    monthControl: true, //月
    dayControl: true, //日

}, function(val) {
    $(".date a").removeClass("active")
    chartChange(val,this,1)
})
</script>

</html>
</html>
