{include file="tianyou/head.htm"}
    <script type="text/javascript" src="{$admin_themes}/js/echart/echarts.common.min.js"></script>
    <!--内容-->
    <div class='outArea addAuthor martop-62'>
        <div class="inArea fb-clearfix">
            <!--发布艺术品 left-->
            <div class='fb-float-left leftDiv'>
                {include file="tianyou/statistics_nav.htm"}
            </div>
            <!--发布艺术品 left end-->
            <!--内容 right-->
            <div class=' rightDiv'>
                <div class='artdata-kindBox'>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>作者总数</p>
                        <dd class='fb-fontWei-bolder'>
                            {$author_count}
                        </dd>
                    </div>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>被收藏数</p>
                        <dd class='fb-fontWei-bolder'>
                            {$be_collected_count}
                        </dd>
                    </div>
                </div>
                <h5 class='fb-h5 fb-color-333 marLeft-40 fb-margin-10 author_title' >人气最高排行榜</h5>
                <table class='consumer_rank_tabel'>
                    <colgroup class='user'>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <tr>
                        <td>名字</td>
                        <td>被收藏作品数</td>
                        <td>被收藏数</td>
                    </tr>
                    {foreach from=$author_ranking item=item}
                    <tr>
                        <td>
                        <div class=" fb-inlineBlock rankItems_left">
                            <img src="/{$item.author_avatar}" alt="{$item.author_name}" class="avatar">
                        </div>
                        <div class='fb-inlineBlock hei-80 rankItems_right' style="width:95px;">
                            <h2>{$item.author_name}</h2>
                            <h3 class='fb-color-666'>共{$item.goods_count}件作品</h2>
							</div>
						</td>
						<td>{$item.be_collected_goods_count}</td>
						<td> {$item.be_collected_count}</td>

					</tr>
                    {/foreach}
				</table>
				<div style='height:80px;'>

				</div>

			</div>
			<!--内容 right end-->
		</div>
	</div>
	<!--内容 end-->

</body>
</html>
