{if $full_page}
{include file="tianyou/head.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
    <script type="text/javascript" src="{$admin_themes}/js/echart/echarts.common.min.js"></script>
    <script>
    get_data = function(val,is_date){
        $.ajax({
            type: "POST",
            url:'statistics.php?act=get_user_data',
            data:{'ajax':1,'val':val,'is_date':is_date},
            async:false,
            error: function(request) {
                alert("连接错误");
                return false;
            },
            success: function(data) {
                obj = JSON.parse(data);
            }
        });
        return obj;
    }
    </script>
    <!--内容-->
    <div class='outArea addAuthor martop-62'>
        <div class="inArea fb-clearfix">
            <!--发布艺术品 left-->
            <div class='fb-float-left leftDiv'>
                {include file="tianyou/statistics_nav.htm"}
            </div>
            <!--发布艺术品 left end-->
            <!--内容 right-->
            <div class=' rightDiv'>
                <div class='artdata-kindBox'>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>新用户</p>
                        <dd class='fb-fontWei-bolder'>
                            {$new_usernum}
                        </dd>
                    </div>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>下单人数</p>
                        <dd class='fb-fontWei-bolder'>
                            {$have_order_usernum}
                        </dd>
                    </div>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>退款人数</p>
                        <dd class='fb-fontWei-bolder'>
                            2
                        </dd>
                    </div>
                    <div class='kindBox-items fb-inlineBlock'>
                        <p>累计客户</p>
                        <dd class='fb-fontWei-bolder'>
                            {$all_usernum}
                        </dd>
                    </div>
                </div>
                <div class='right2'>
                    <div class='chart1 '>
                        <div class='date fb-clearfix'>
                            <a class="active" onclick="chartChange(7,this)">7天</a>
                            <a onclick="chartChange(14,this)">14天</a>
                            <a onclick="chartChange(30,this)">30天</a>
                            <a class='win-200-w'>
                                <input type="text" id="data" placeholder="自选日期"  style="width:100%;height:40px;;border:none;display:block;background:none;">
                            </a>
                        </div>
                        <div class="datachart_div" id="datachart_div">
                        </div>
                        <script>
                        var datachart_div = echarts.init(document.getElementById('datachart_div'));

                        user_data = get_data(7,0);
                        console.log(user_data);
                        var date = user_data.date;
                        var data = user_data.data;

                        option = {
                            tooltip: {
                                trigger: 'axis',
                                position: function(pt) {
                                    return [pt[0], '10%'];
                                }
                            },
                            title: {
                                left: 0,
                                top: 15,
                                text: '新增用户（人）',
                            },

                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: date
                            },
                            yAxis: {
                                type: 'value',
                                boundaryGap: [0, '100%']
                            },
                            dataZoom: [{
                                type: 'inside',
                                start: 0,
                                end: 100
                            }, {
                                show: false,
                                start: 0,
                                end: 10,
                                handleSize: '80%',
                                handleStyle: {
                                    color: '#fff',
                                    shadowBlur: 3,
                                    shadowColor: 'rgba(0, 0, 0, 0.6)',
                                    shadowOffsetX: 2,
                                    shadowOffsetY: 2
                                }
                            }],
                            series: [{
                                name: '人数',
                                type: 'line',



                                itemStyle: {
                                    normal: {
                                        color: 'rgb(255, 70, 131)'
                                    }
                                },
                                areaStyle: {
                                    normal: {
                                        color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                            offset: 0,
                                            color: 'rgb(255, 158, 68)'
                                        }, {
                                            offset: 1,
                                            color: 'rgb(255, 70, 131)'
                                        }])
                                    }
                                },
                                data: data
                            }]
                        };
                        datachart_div.setOption(option);
                        </script>
                    </div>
                    <!--图表 end-->
                </div>
                <div class="list-div" id="listDiv">
{/if}
                <div style="margin-top:40px;height:610px">
                    <table class='consumer_rank_tabel data_table'>
                        <colgroup class='user'>
                            <col>
                            <col>
                            <col>
                        </colgroup>

                        <tr>
                            <td>时间</td>
                            <td>新增客户</td>
                            <td>累计客户</td>
                        </tr>
                        {foreach from=$new_user_statistics item=item}
                        <tr>
                            <td>
                                {$item.reg_time_desc}
                            </td>
                            <td>{$item.new_usernum}</td>
                            <td>{$item.old_usernum}</td>
                        </tr>
                        {/foreach}
                        <tr>
                            <td colspan="3">
                                <div class="pageDiv" style="margin-right:30px">
                                    {include file="tianyou/page.htm"}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
{if $full_page}
                </div>
                <h5 class='fb-h5 fb-color-333 author_title width820' >消费用户排名</h5>

                <table class='consumer_rank_tabel'>
                    <colgroup class='user'>
                        <col style="width:195px">
                        <col>
                        <col>
                    </colgroup>
                    <tr>
                        <td>名字</td>
                        <td>单笔消费最高</td>
                        <td>共消费金额</td>
                    </tr>
                    {foreach from=$user_orderinfo item=item}
                    <tr>
                        <td>
                            <div class=" fb-inlineBlock rankItems_left">
                                <img src="/{$item.avatar}" alt="" class="avatar">
                            </div>
                            <div class='fb-inlineBlock hei-80 rankItems_right' style="width:95px;">
                            <h2>{$item.user_name}</h2>
                            <h3 class='fb-color-666'>地区</h3>
							</div>
						</td>
						<td>{$item.max_turnover}</td>
						<td>{$item.turnover}</td>
					</tr>
                    {/foreach}

				</table>

				<div style='height:80px;'>

				</div>

			</div>
			<!--内容 right end-->
		</div>
	</div>
	<!--内容 end-->

</body>
<script>
    listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};

    {foreach from=$filter item=item key=key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}
</script>
<script>

$fb("#data").showDate({
    monthControl: true, //月
    dayControl: true, //日
}, function(val) {
    $(".date a").removeClass("active")
    chartChange(val, this,1)
})

var chartChange = function(val, that,is_date = 0) {
    $(that).addClass("active").siblings("a").removeClass("active");

    user_data = get_data(val,is_date);
    console.log(user_data);
    var date = user_data.date;
    var data = user_data.data;

    var option = {
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: date
        },
        series: [{
            data: data
        }]
    }

    datachart_div.setOption(option);

}


</script>
</html>
{/if}
